<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51344466835-lnktf3st5e9f7q8avjjpm43fa6d0bd4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51344466835-lnktf3st5e9f7q8avjjpm43fa6d0bd4a</string>
	<key>API_KEY</key>
	<string>AIzaSyCNxMM5dyFJfUXsuHnJG5ZKBAq31-mjQEY</string>
	<key>GCM_SENDER_ID</key>
	<string>51344466835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.almasheed.store.almasheed</string>
	<key>PROJECT_ID</key>
	<string>al-masheed-63f1a</string>
	<key>STORAGE_BUCKET</key>
	<string>al-masheed-63f1a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51344466835:ios:0f08de78e045062a60be66</string>
</dict>
</plist>